<h1>Welcome back!</h1>
<p>Log in to your Bloccitoff account:</p>

<%= form_for(:session, url: log_in_path) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></p>

  <p><%= f.label :password %>
  <i><%= link_to "(forgot password?)", new_password_reset_path %></i><br />
  <%= f.password_field :password %></p>

  <%= f.submit "Log in", class: 'btn btn-primary' %>
<% end %>