<h2>Greetings, <%= @user.name %>!</h2>

<div class="list">
  <small>Member since: <%= @user.activated_at.to_date %>
  <p>E-mail address: <%=@user.email %></p></small>
</div><br />

<h4>Here are the things you said you would do...</h4><br />

<div class="list">
  <%= render @items %>
</div><br />

<%= render 'items/form', locals: {user: @user, item: @item} %>