<h1><%= @user.name %>'s user profile</h1><br />

<h6>Member since: <%= @user.activated_at %></h6>
<h6>E-mail address: <%=@user.email %></h6><br />

<h4>Things to do</h4>
<%= render @items || "(Add some things here!)" %>
<%= render 'items/form', locals: {user: @user, item: @item} %>