<h2><%= @user.name %>'s user profile</h2>

<small>Member since: <%= @user.activated_at %>
<p>E-mail address: <%=@user.email %></p></small><br />

<h4>Things to do...</h4>
<%= render @items %>
<%= render 'items/form', locals: {user: @user, item: @item} %>