<h2>Greetings, <%= @user.name || @user.email %>!</h2>

<div class="list">
  <small>Member since: <%= @user.activated_at.to_date %>
  <p>Manage your account settings <%= link_to "here", edit_user_path(@user) %>.</p></small>
</div><br />

<h4>Here are the things you said you would do within a week...</h4><br />

<div class="list">
  <%= render @user.items %><br />
  <%= render 'items/form', locals: {user: @user, item: @item} %>
</div>