<!DOCTYPE html>
<html>
  <head>
    <title>Bloccitoff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <% if current_user %>
        Logged in as <%= current_user.email %>
        <%= link_to "Log out", log_out_path %>
        <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "Log in", log_in_path %>
        <% end %>
      </ul>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash#{name}" %>
    <% end %>

    <%= yield %>
    
    </div>
  </body>
</html>
